
/* CSS Document */
/**************************************
 Filename: style.css
 Author: Chris Dawalt
 Create Date: 30 October 2016
 Purpose: Customize this project's HTML page(s) appearance(s).
 Modification History:
 Original build.
 (see HTML files for info on CSS edits past the original build)
**************************************/

body{
	background-color: #A0ffA0;
	
}


/*CSS does not seem to work with "document.write" calls.*/


.btnSample{
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px;
	min-width: 190px;
	min-height:20px;
}

.btnSampleSmall{
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:15px;
	min-width: 190px;
	min-height:20px;
}

p{
	display:inline;
	margin:0px 0px;
	padding:0px 0px;
}






.aSample{
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
}
/*
.aSamplePlus{
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:26px;
}
*/


.aSampleTitle{
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:28px;
}



.aLink{
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
}

.aLink:link {
    color: #064100;
}
.aLink:visited {
    color: #064100;
}
.aLink:hover {
    color: #008F00;
}
.aLink:active {
    color: #004800;
}


/*NOTE: class is for anything non-text that wants to behave as a link but have no underline. */
.linkPlain:link {
    text-decoration: none;
}
.linkPlain:visited {
    text-decoration: none;
}
.linkPlain:hover {
    text-decoration: none;
}
.linkPlain:active {
    text-decoration: none;
}








#btnSubmit{
	margin: 1% 4%;
	width:20%;
	
}



.divSampleVert1{
	
	display:inline-block;
	
	position:relative;
	background-color: #FF0000;
	
	min-height:100%;
	height:100%;
	line-height:100%;
	
	text-align:center;
	
	
}




.tableSampleVert{
	
	
	position:relative;
	
	top: -16px;
	
	text-align:center;
	
	
}




.divSample{
	display:inline-block;
	margin: 15px 15px;
	
	padding: 15px;
	
	
	border-radius: 32px;
	background-color: #207A20;
	border:3px solid #005000;
}


.divSampleWide{
	display:inline-block;
	margin: 24px 15px;
	
	padding: 12px;
	
	
	border-radius: 32px;
	background-color: #207A20;
	border:3px solid #005000;
	
	
	/*
	margin: 0 auto;
	padding: 0px;
	
	display:inline-block;
	*/
	
	
	margin-left:auto;
	margin-right:auto;
	/*text-align:center;*/
	/*width:95%;*/
	min-width:400px;
	
	
}



.divSampleSmall{
	margin: 0 auto;
	box-shadow: 0 2px 15px #EEE;
	padding: 8px;
	border-radius: 24px;
	background-color: #207A20;
	border:3px solid #005000;  
}



.divOutter{
	
	display:inline-flex; 
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.divInner{
	display:inline-block; 
}


.divWideRow{
	
	margin: 0 auto;
	padding: 0px;
	
	display:inline-block;
	
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:100%;
	
}



table{
	display:inline-block;
	border:3px solid #005000;
}




.tablerowSlimBiggerFont{
	padding:0px 0px;
	margin: 0px 0px;
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:24px;
	min-width:64px;
	border:3px solid #005000;
}


.tablerowSlim{
	padding:1px;
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	min-width:64px;
	border:3px solid #005000;
}

.tablerowWide{
	padding:1px;
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	min-width:256px;
	border:3px solid #005000;
}
.tablerowExtraWide{
	padding:1px;
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	min-width:660px;
	border:3px solid #005000;
}

th{
	padding:1px;
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	min-width:128px;
	border:3px solid #005000;
}
td{
	padding:1px;
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	min-width:128px;
	border:3px solid #005000;
	height:32px;
}

tr{
	padding:1px;
	border:3px solid #005000;	
}
.tableRowLonger{
	padding:1px;
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	min-width:460px;
	border:3px solid #005000;
}




.aSampleTextMod{
	
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
	display:block;
}




.txtSample{
	color:#064100;
	
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px;
	width:94%;
	/*float:right;*/
	
	min-height:20px;
	height:20px;
}









h2{
	display:inline;
	margin:0px 0px;
	padding:0px 0px;
}

h3{
	display:inline;
	margin:0px 0px;
	padding:0px 0px;
}


.Scrubber{
	
	
	color:#064100;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:20px;
	display:block;
}



.Buccaneer{
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	font-size:20px;
	display:block;
		
	
}


.Sabeteur{
	
	color:#064100;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size:20px;
	display:block;
		
	
}

.Comedian{
	
	color:#064100;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	
	font-size:20px;
	display:block;
	
}













