/*
Author: Chris Dawalt
Date Created: 2018-3-2
*/


/*Requirement 1. 5 CSS rules for classes.*/
.pGoatSub{
    color:#6a9b0c;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.6em;
}
.pDescription{
    color:#ff4490;
    font-size:1.4em;
}
/*NOTE: for the generalList class, the ul element's li element font color is overridden by the link color. Otherwise it would have been purple like the ol element's li elements.
Regardless, both list's li elements are italicized by this class.*/
.generalList{
    color:#a970b1;
    font-size:1.45em;
    font-style:italic;
}
.pNote{
    color:#00b4d5;
    font-size:1.42em;
}
.pEndNote{
    color:#dc0000;
    font-size:1.4em;
}

/*Requirement 2. 5 CSS rules for ID's.*/
#h2Goat{
    font-family: Tahoma, Geneva, sans-serif;
    color:#8bb387;
    font-size:3.2em;
    
}
#h2Microsoft{
    margin-top:16px;
    color:#0078d7;
    font-size:3.0em;
}
#h2Octopus{
    color:#f99200;
    font-size:3.5em;
}

/*Requirement 3. CSS rules for h1, h2, h3, h4, h5, and h6 elements.*/
h1, h2, h3{
    color:#837500;
    padding:8px;
}
h4, h5, h6{
    color:#808080;
    padding:4px;
}
h1{
    color:#837500;
    font-size:4.3em;
    font-weight:bold;
    margin-top:24px;
    margin-bottom:9px;
}
h2{
    color:#837500;
    font-size:3.8em;
    margin-top:16px;
    margin-bottom:4px;

}
h3{
    color:#837500;
    font-size:3.3em;
    margin-top:13px;
    margin-bottom:3px;

}
h4{
    color:#808080;
    font-size:2.7em;
    margin-top:10px;
    margin-bottom:2px;

}
h5{
    color:#808080;
    font-size:2.2em;
    margin-top:7px;
    margin-bottom:2px;

}
h6{
    color:#808080;
    font-size:1.7em;
    margin-top:4px;
    margin-bottom:2px;

}

/*Requirement 4. CSS rules for a, a:hover, and a:visited*/
a, a:link{    /*normal.*/
    color:#00cb77;
}
a:hover{
    color:#00ff96;
}
a:visited{
    color:#008c52;
}

/*Requirement 5. CSS rule for the header element.*/
header{
    background-color:#f3e077;
    border-bottom:5px solid #bfa200;
    min-height:120px;
    margin-bottom:14px;
}
/*Requirement 6. CSS rule for the footer element.*/
footer{
    background-color:#f3e077;
    border-top:5px solid #bfa200;
    min-height:80px;
    margin-top:12px;
}

/*Requirement 7. CSS rule(s) for button element.*/
button{
    font-size:1.6em;   
    background-color:#0000c3;
    border-color:#a3a3ff;
    border-width:4px;
    color:#a3a3ff;
    padding:10px;
    margin:12px;
}
button:active{
    background-color:#a3a3ff;
    border-color:#0000c3;
    border-width:4px;
    color:#0000c3;
    font-size:1.8em;
    padding:5px;
}
/*Requirement 8. CSS Rule for the div element.*/
div{
    background-color:#fffcb7;
    
    border-width:30px;
    border-style:solid;
    border-color:#686400;
}
/*Requirement 9. CSS Rule for the ul element and li child elements.*/
ul{
    font-family: Tahoma, Geneva, sans-serif;
    margin-left:40px;
}
ul li{
    padding:3px;
}
/*Requirement 10. CSS Rule for the ol element and li child elements.*/
ol{
    font-family: Trebuchet, Arial, sans-serif;
    margin-left:25px;
}
ol li{
    margin:3px;
}
/*Requirement 11. CSS Rule for the table, td, and th elements*/
table{
    background-color:#f3ef8f;
    /*top right bottom left*/
    margin:24px 12px 24px 12px;
}
td, th{
    border:5px solid #bfa200;
}
th{
    color:#8f8a00;
    background-color:#ece764;
    padding:8px;
    font-size:1.8em;
    font-weight:bold;
}
td{
    color:#7b7700;
    padding:4px;
    font-size:1.4em;
}

















