
/* CSS Document */
/**************************************
 Filename: style.css
 Author: Chris Dawalt
 Create Date: 2 December 2016
 Purpose: Customize this project's HTML page(s) appearance(s).
 Modification History:
 Original build.
 (see HTML files for info on CSS edits past the original build)
**************************************/

body{
	background-color: #A0ffA0;
	
}


/*CSS does not seem to work with "document.write" calls.*/


.btnSample{
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px;
	/*min-width: 250px;*/
}





.aSample{
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
}


.aLink{
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:28px;
}

.aLink:link {
    color: #064100;
}
.aLink:visited {
    color: #064100;
}
.aLink:hover {
    color: #008F00;
}
.aLink:active {
    color: #004800;
}


/*NOTE: class is for anything non-text that wants to behave as a link but have no underline. */
.linkPlain:link {
    text-decoration: none;
}
.linkPlain:visited {
    text-decoration: none;
}
.linkPlain:hover {
    text-decoration: none;
}
.linkPlain:active {
    text-decoration: none;
}













.aSampleTitle{
	color:#064100;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:45px;
}





.divSample{
	display:inline-block;
	margin: 15px 15px;
	
	padding: 15px;
	
	
	border-radius: 32px;
	background-color: #207A20;
	border:3px solid #005000;
}


.divSampleWide{
	display:inline-block;
	margin: 24px 15px;
	
	padding: 12px;
	
	
	border-radius: 32px;
	background-color: #207A20;
	border:3px solid #005000;
	
	
	/*
	margin: 0 auto;
	padding: 0px;
	
	display:inline-block;
	*/
	
	
	margin-left:auto;
	margin-right:auto;
	/*text-align:center;*/
	/*width:95%;*/
	
	/*min-width:400px;*/
	
	
}



.divSampleSmall{
	margin: 0 auto;
	box-shadow: 0 2px 15px #EEE;
	padding: 8px;
	border-radius: 24px;
	background-color: #207A20;
	border:3px solid #005000;  
}



.divOutter{
	
	display:inline-flex; 
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.divInner{
	display:inline-block; 
}


.divWideRow{
	
	margin: 0 auto;
	padding: 0px;
	
	display:inline-block;
	
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:100%;
	
}












/*
???
.&gt{
	font : inherit;
	color : inherit;
	text-align : left;
	outline : none;
	cursor : text;
	
}
*/





input{
	min-width:50px;
}
textarea{
	min-width:50px;
}









.txtTheme{
	
	/*these properties help the button to take inspiration from the theme in font size and font choice.*/
	font : inherit;
	color : inherit;
	text-align : left;
	outline : none;
	cursor : text;
	
	
	width:98%;
	
	height:1.5em;
	font-size:1.48em;
  
}
.txtThemeSmaller{
	
	/*these properties help the button to take inspiration from the theme in font size and font choice.*/
	font : inherit;
	color : inherit;
	text-align : left;
	outline : none;
	cursor : text;
	
	
	width:300px;
  
	height:1.5em;
	font-size:1.48em;
	
}
.txtThemeSmallest{
	font : inherit;
	color : inherit;
	text-align : left;
	outline : none;
	cursor : text;
	
	
	width:150px;
  
	height:1.5em;
	font-size:1.48em;
	
}

.btnTheme{
	line-height:1 !important;
	
	margin:3px 24px 3px 24px !important;
	height:1.9em !important;
	font-size:1.48em !important;
}



.aTheme{
	font : inherit;
	/*color : inherit;*/
	text-align : left;
	outline : none;
	cursor : text;
	
	
	color:#064100;
	/*font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	/*font-size:20px;*/
	font-size:1.8em;
}


.aThemeSmall{
	font : inherit;
	/*color : inherit;*/
	text-align : left;
	outline : none;
	cursor : text;
	
	
	color:#064100;
	/*font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size:1.5em;
}




.ui-checkboxradio-label{
	font-size: 1.46em !important;
	line-height:1 !important;
	height:1.5em;
	
	padding:8px 8px 0px 12px !important;
	margin:0px !important;
}



.error{
	font : inherit;
	/*color : inherit;*/
	
	text-align : left;
	outline : none;
	cursor : text;
	
	padding: 3px 3px 3px 3px;
	color: #DD0E0E !important;
	/*font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size:1.48em;
}




/*ui-slider */
.ui-slider-handle {
	border-radius: 32px !important;	
}
.ui-slider-horizontal{
	height:36px !important;	
	border-radius: 32px !important;	
    margin: 8px 24px 0px 24px !important;
	width:92%;
}
.ui-slider-handle {
	
    height:44px !important;	
    width: 44px !important;
	
    margin: 0px 0px 0px -18px !important;
    padding: 0px 0px 0px 0px !important;
	border-radius: 36px !important;	
}
.ui-slider-range{
    border-radius: 0px !important;	
}


/*ui-slider-horizontal*/



input.error{
	/*background-color:rgba(255,218,218,1.00) !important;*/
	background-color: #FFDADA !important;
	color: #FF0000 !important;
	padding: 2px 2px 2px 2px;
	border:1px solid;
	
}

.txtAreaTheme{
	
	font : inherit;
	color : inherit;
	text-align : left;
	outline : none;
	cursor : text;
	/*
	height:200px;
	width:650px;
	*/
  	font-size:1.48em;
}

.txtAreaThemeBig{
	
	font : inherit;
	color : inherit;
	text-align : left;
	outline : none;
	cursor : text;
	/*
	height:400px;
	width:650px;
	*/
  	font-size:1.48em;
}








.error:not(.txtTheme):not(.txtThemeSmaller):not(.txtThemeSmallest){
	/*float:right;*/
	/*background-color: #0000AA;*/
}








#txtCategory-error{
	/*float:right;*/
}
#TypeOfProject-error{
	/*display:block;*/
}




#txtVerification{
	
	margin: 3px 3px 3px 3px;
	/*these properties help the button to take inspiration from the theme in font size and font choice.*/
	font : inherit;
	color : inherit;
	text-align : left;
	outline : none;
	cursor : text;
	
	
}

#txtDateEstimate{
	margin:3px 3px 3px 3px;
	
	position: relative; z-index: 100000;
	
	
}



#txtDateEstimate.error{
	background-color: #FFDADA;
}
#txtVerification.error{
	background-color: #FFDADA;
}
.txtTheme.error{
	background-color: #FFDADA;
}
.txtThemeSmaller.error{
	background-color: #FFDADA;
}
.txtThemeSmallest.error{
	background-color: #FFDADA;
}




#divCostEstimate{
	margin:15px 5px 0px 5px;
	
}




#selCategory{
	
	margin:3px 3px 3px 3px;
	
	/*
	font : inherit;
	color : inherit;
	*/
	text-align : left;
	outline : none;
	/*cursor : text;*/
	
	/*
	height:30px;
	*/
	
	
	/*position: relative;*/
	z-index: 100000;
	
	
	width:180px;
	display:inline-block;
	
}

#liCategory{
	position: relative;
	z-index: 100000;
	
}
#ulCategory{
	position: relative;
	z-index: 100000;
	
}

.imgSample{
	margin: 5px 3px 5px 3px;
	text-align:center;
	vertical-align:central;
}



.tdNoBorder{
	border:0px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}



.divBreaker{
	display:none;	
	
}
.tablePassive{
	display:block; 	
}

td{
	border:3px solid #005000;
	padding: 5px 12px 5px 12px;
}


/*screen width under 780 pixels.*/
@media (min-device-width : 0px) and (max-device-width : 780px){
	
.tableSample{
	
	/*COLOR-CODED SIZE DEBUG*/
	/*background-color: #FF00FF;*/
	width:90%;	
	display:inline-block;
	float:none;
}

/*tables will now allow themselves to be centered.   the default "display:block" seen above outside of sizing will make a table feel compelled to lean left.*/
.tablePassive{
	display:inline-block;
}

.divBreaker{
	display:block;	
	
}

.divSample{
	width:96%;
	margin:0px;
}
	

.td1stFloatRight{
	width:95%;
	text-align:center;
	display:block;
}
.td1stFloatLeft{
	width:95%;	
	text-align:left;
	display:block;
}
.td1stFloatCenter{
	width:95%;	
	text-align:center;
	display:block;
}
.td2ndFloatRight{
	width:95%;	
	text-align:center;
	display:block;
}
.td2ndFloatLeft{
	width:95%;	
	text-align:center;
	display:block;
}
.td2ndFloatCenter{
	width:95%;	
	text-align:center;
	display:block;
}
.tdWide{
	width:95%;	
	text-align:center;
	display:block;
}




.txtTheme{
	width:96%;
	height:1.83em;
	font-size:1.8em;
}
.txtThemeSmaller{
	width:96%;
	height:1.83em;
	font-size:1.8em;
}
.txtThemeSmallest{
	
	width:75%;
	height:1.83em;
	font-size:1.8em;
}



.btnTheme{
	height:2.6em !important;
	font-size:1.8em !important;
}
.aTheme{
	font-size:2.15em;
}
.aThemeSmall{
	font-size:1.9em;
}
.ui-checkboxradio-label{
	font-size: 1.7em !important;
	line-height:1 !important;
	height:1.4em;
	
	margin:0px 0px 0px 0px !important;
}

.error{
	/*font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size:1.8em;
}
.txtAreaTheme{
	height:460px;
	width:77%;
  	font-size:1.72em;
}
.txtAreaThemeBig{
	height:460px;
	width:77%;
  	font-size:1.72em;
}
.ui-slider-horizontal{
	height:36px !important;	
	border-radius: 32px !important;	
    margin: 8px 24px 0px 24px !important;
	width:88%;
}
#selCategory{
	
	margin:0px;
	padding:0px;
	text-align : left;
	outline : none;
  	font-size:1.7em;
	
	z-index: 100000;
	width:250px;
	display:inline-block;
}



td{
	padding:2px;
	margin:2px;
}
tr{
	padding:2px;
	margin:2px;
}




}

/*screen width between 780 and 1060.*/
@media (min-device-width : 780px) and (max-device-width : 1060px){
	
	
	
	
.tableSample{
	
	/*COLOR-CODED SIZE DEBUG*/
	/*background-color: #FFFFFF;*/
	
	width:600px;	
	
}


.td1stFloatRight{
	width:120px;
	text-align:center;
}
.td1stFloatLeft{
	width:120px;
	text-align:left;
}
.td1stFloatCenter{
	width:120px;
	text-align:center;
}
.td2ndFloatRight{
	width:480px;
	text-align:center;
}
.td2ndFloatLeft{
	width:480px;
	text-align:left;
}
.td2ndFloatCenter{
	width:480px;
	text-align:center;
}
.tdWide{
	width:480px;
	text-align:center;
}

.txtTheme{
	height:1.6em;
	font-size:1.57em;
}
.txtThemeSmaller{
	width:98%;
	height:1.6em;
	font-size:1.57em;
}
.txtThemeSmallest{
	height:1.6em;
	font-size:1.57em;
}
.btnTheme{
	height:2.2em !important;
	font-size:1.57em !important;
}
.aTheme{
	font-size:1.86em;
	padding:0px;
	margin:0px;
}
.aThemeSmall{
	font-size:1.3em;
	padding:0px;
	margin:0px;
}
.ui-checkboxradio-label{
	font-size: 1.54em !important;
	height: 1.38em !important;
	line-height:1 !important;
}
.ui-slider-horizontal{
	height:36px !important;	
	border-radius: 32px !important;	
    margin: 8px 24px 0px 24px !important;
	width:88%;
}

#selCategory{
	
	margin:0px;
	padding:0px;
	text-align : left;
	outline : none;
  	font-size:1.34em;
	
	z-index: 100000;
	width:250px;
	display:inline-block;
}

.error{
	/*font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size:1.57em;
}
.txtAreaTheme{
	height:300px;
	width:480px;
  	font-size:1.72em;
}
.txtAreaThemeBig{
	height:400px;
	width:480px;
  	font-size:1.72em;
}

td{
	padding:2px;
	margin:2px;
}
tr{
	padding:2px;
	margin:2px;
}





}
/*screen width over 1060.*/
@media (min-device-width : 1060px){

.tableSample{
	
	/*COLOR-CODED SIZE DEBUG*/
	/*background-color: #FF0000;*/
	width:890px;	
	
}
.td1stFloatRight{
	width:290px;
	text-align:right;
}
.td1stFloatLeft{
	width:290px;
	text-align:left;
}
.td1stFloatCenter{
	width:290px;
	text-align:center;
}
.td2ndFloatRight{
	width:600px;
	text-align:right;
}
.td2ndFloatLeft{
	width:600px;
	text-align:left;
}
.td2ndFloatCenter{
	width:600px;
	text-align:center;
}
.tdWide{
	width:890px;
	text-align:center;
}


/* Most defaults set above any size-queries are meant for above 1060 pixels.*/

.txtAreaTheme{
	height:310px;
	width:840px;
}
.txtAreaThemeBig{
	height:350px;
	width:840px;
}



}
/* END OF SIZE ADJUSTMENTS */

























