


/*CSS to change link color.
Source: https://css-tricks.com/overriding-the-default-text-selection-color-with-css/*/
::selection {
  color:#fcfffc;
  background-color:rgba(41,81,255,0.9);
}
::-moz-selection {
  color:#fcfffc;
  background-color:rgba(41,81,255,0.9);
}

img::selection{
    background-color:rgba(41,81,25,0.4);
}
img::-moz-selection{
    background-color:rgba(41,81,25,0.4);
}


/*
CSS to make a footer that stays at the bottom of the page,
even if the page content does not exceed screen height, and stay
at the absolute bottom of the scrollabe page otherwise.

Requires a HTML page of this form:
<html>
  <head>
    ...
  </head>
  <body>
    <div class="divPageContent">
      ...(usual <body> content here instead, including <header>)
    </div>
    <footer>
      ...
    </footer>
  </body>
</html>

Source: https://css-tricks.com/couple-takes-sticky-footer/
*/
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
div.divPageContent {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}
/**************************************************************/


@font-face{
    font-family: NeatlyPrinted;
    src: url("../fonts/KGNeatlyPrinted.ttf");
}

html, body{
    box-sizing: border-box;
    background-color:#bfe5bf;
    font-family: NeatlyPrinted;
    font-weight:bold;
    color:#004700;
    font-size: 1.0em;
    text-align:center;
    margin:0px;
    padding:0px;
}


img{
    border:3px solid #005000;
}



h1, h2, h3, h4{
    font-family: Tahoma, Geneva, sans-serif;
}


header h1{
    display:inline-block;
    /*position:absolute;*/
    right:20px;
    
    /*display:table-cell;*/
    font-size:2.2em;
    
    font-weight:bold;
    margin:0px;
    /*float:right;*/
    /*line-height: 140px;*/
    /*vertical-align:middle;*/
    /*background-color:#00ff00;*/
    
    margin-right:60px;
    margin-top:26px;
    
}

#mainTitle{
    font-size:6.8em;
    font-style:italic;
    margin-right:90px;
}
#premechanicalTitle{
    font-size:3.5em;
    margin-right:24px;
}
#mechanicalTitle{
    font-size:3.9em;
}
#electronicTitle{
    font-size:4.2em;
}
#modernTitle{
    font-size:4.5em;
}
#referenceTitle{
    font-size:5.2em;
}

h2, h3{
    margin-top:0px;
    margin-bottom:10px;
    font-size:2.1em;
}
h2{
    margin-top:36px;
    font-size:2.6em;
}
section.sectionContent h2{
    margin-top:-40px;
    margin-bottom:-20px;
    font-size:3.1em;
}



div{
    font-size:1.0em;
}
p, a, div{
    display: inline-block;
    margin:0px;
    padding:0px;
}
p, a, blockquote{
    font-size:1.92em;
}
p a{
    font-size:1.0em;
}
a{
    display: inline;
}


a{
  display:inline;
}

a, a:link, a:visited{
    color:#127c12;
}
a:hover, a:focus{
    color:#209820;
}
a:focus{
    background-color:rgba(224,255,224,0.6);
    outline:4px dotted #279327;
}
a:active{
    color:#4eae4e;
}

th a, th p, td a, td p{
    font-size:1.0em;
}
td a, td p, th a, th p{
    padding: 6px 10px;
    display:inline-block;
}
td, th{
    font-size:1.72em;
}

td>ol{
    padding:4px;
}





header{
    /*display:table;*/
    display:block;
    position:relative;
    
    height:200px;
    min-width:600px;
    width:1100px;
    max-width:100%;
    /*height:100%;*/
    /*height:200px;*/
    margin-top:32px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    
    background-image:url("../img/headerimage.png");
    background-repeat:no-repeat;
    background-color:#6c964c;
    
    /*top-left, top-right, bottom-right, bottom-left */
    border-radius: 0px 32px 32px 0px;
    border:6px solid #005000;
    
    /*white-space:nowrap;*/
    display:flex;
    text-align:right;
    vertical-align:middle;
    align-items:center;
    flex-direction: row-reverse;
    
}

nav{
    display:inline-flex;
    position:absolute;
    bottom:10px;
    left:14px;
    background-color:#224422;
    padding:6px;
}

a.aButton{
    font-size:1.9em;
    padding:3px;
    padding-left:6px;
    padding-right:6px;
    text-decoration:none;
    border:4px solid #005000;
}

a.aButton, a.aButton:link, a.aButton:visited{
    color:#89cf89;
    background-color:#2c802c;
}
a.aButton:hover, a.aButton:focus{
    color:#b1deb1;
    background-color:#3f9b3f;
}
a.aButton:focus{
    outline:5px dotted #006100;
}
a.aButtonNav:focus{
    outline:5px dotted #7ec17e;
}
a.aButton:active{
    color:#ffffff;
    background-color:#7ac37a;
}


a.aButtonDisabled{
    pointer-events: none;
    cursor: default;
}

a.aButtonDisabled, a.aButtonDisabled:link, a.aButtonDisabled:visited, a.aButtonDisabled:hover, a.aButtonDisabled:focus, a.aButtonDisabled:active{
    color:#495847;
    background-color:#003400;
    border:4px solid #001000;
}






a.aButtonNav{
    padding:6px 12px 6px 12px;
    border:0px;
}
a.aButtonNav:not(:first-child){
    margin-left:6px;
}
div.divHeaderVerticalCenterOuter{
    display:table-cell;
    padding:0px;
    margin:0px;
    vertical-align:bottom;
    background-color:#ff0000;
}
div.divHeaderVerticalCenterInner{
}


.divBlockQuote{
    display:block;
    text-align:right;
}
.divBlockQuote blockquote{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight:bold;
    font-style:italic;
    font-size: 1.70em;
    text-align:left;
    margin:12px;
}
.divBlockQuote p{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight:normal;
    margin-right:60px;
    margin-bottom:0px;
    font-size: 1.6em;
}

div.divIntroductionQuote{
    margin-top:60px;
    margin-bottom:54px;
}

.divTextMainIntroductionQuote{
    margin:0px;
    padding:0px;
    text-align:left;
    max-width:1200px;
}



p.pContent{
    font-size: 2.02em;
    font-weight:bold;
    margin-bottom:6px;
}
.pIntroduction{
    font-family: NeatlyPrinted;
    font-size: 2.30em;
    font-weight:bold;
}

p.pCaption{
    display:block;
    color:#555555;
    font-size:1.5em;
    text-decoration: overline;
    margin-bottom:14px;
}

a.aBackLink{
    font-size:2.8em;
    
    position: absolute;
    min-width:90px;
    bottom:30px;
    left:40px;
}
a.aLinkLarge{
    font-size:2.6em;
}


div.divTextGroup{
    margin:0px;
    padding:6px 24px;
    padding-bottom:4px;
    text-align:left;
    max-width:800px;
}
div.divTableFooter{
    display:inline-block;
    min-width:600px;
    text-align:left;
    
}
div.divTextGroupIntroduction{
    display:table;
    margin:0px;
    padding:6px;
    padding-bottom:8px;
    text-align:left;
    max-width:1000px;
    overflow: auto;
}
div.divTextMainIntroduction{
    display:table;
    margin:0px;
    padding:6px;
    padding-bottom:8px;
    text-align:left;
    max-width:1200px;
    overflow: auto;
}


.divGroup{
    background-color:#b2ecb2;
    display:table;
    min-height:200px;
    border:4px solid #005000;
    padding:12px 16px 30px 16px;
    margin-bottom:8px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    text-align:center;
}
.divGroup:not(:first-child){
    margin-top:36px;
}
.divGroupMaxWidth{
    background-color:#b2ecb2;
    display:table;
    /*min-height:200px;*/
    border:4px solid #005000;
    padding:26px 18px 32px 18px;
    margin-top:36px;
    margin-bottom:8px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    min-width:600px;
    max-width:1200px;
    text-align:center;
    border-radius: 1.4em 1.4em 1.4em 1.4em;
}

.divGroupMaxWidthForm{
    background-color:#b2ecb2;
    display:table;
    /*min-height:200px;*/
    border:4px solid #005000;
    padding:26px 18px 32px 18px;
    margin-top:36px;
    margin-bottom:8px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    min-width:1000px;
    /*max-width:1200px;*/
    text-align:center;
    border-radius: 1.4em 1.4em 1.4em 1.4em;
}

p.pMargin{
    margin:12px;
}


ul, ol{
    margin:0px;
    padding-left: 0;
}

li, dt, dd{
    font-size:1.8em;
}

.divTextGroup ul, .divTextGroup ol, .divTextGroup dl{
    margin-top:16px;
}

dl{
    /*margin-left:25px;*/
}
dt{
   counter-increment: item;
}
dt:before {
   margin-right: 10px;
   content: counter(item) ".";
   font-weight:bold;
   
}
dd{
    margin-left:64px;
}







td ul, td ol{
    /*list-style-position: inside;*/
    padding-left:26px;
}
td li{
    font-size:0.93em;
}


















.tableHeading{
    margin-bottom:6px;
}


/*CSS rules to give four background colors. Once per page row.*/
.tableIndexPage1{
    background-color:#a5dba5;
}
.tableIndexPage2{
    background-color:#8de08d;
}
.tableIndexPage3{
    background-color:#70e770;
}
.tableIndexPage4{
    background-color:#52ed52;
}



/*Border given to <table>, <th>, and <td>.*/
table.tableIndex{
    border-collapse: collapse;
    border-style:solid;
    border-width:6px;
    border-color:#1e631e;
}
/*Border between the left-most Page column and the rest*/
table.tableIndex>colgroup>col.colIndexPage{
    border-style:solid;
    border-color:#1e631e;
    border-width: 5px;
}
/*Applies to all members of a row that starts with a <th> page.*/
/*This bolds the line above a row's left-most <th> page to group items
  together on the same page.*/
table.tableIndex>tbody>tr>th, table.tableIndex>tbody>tr>th~td{
    border-style:solid;
    border-color:#1e631e;
    border-top-width:5px;
}

table.tableIndex>thead>tr{
    border-style:solid;
    border-color:#1e631e;
    border-width: 5px;
    background-color:#a7c1a7;
}
/*<thead>'s <th>s are column header cells (along the very top)*/
table.tableIndex>thead>tr>th{
    text-align:center;
    border-style:solid;
    border-width:2px;
    border-color:#1e631e;
    padding:5px 10px 5px 10px;
}
/*<tbody>'s <th>s are row header cells (along the very left)*/
table.tableIndex>tbody>tr>th{
    text-align:center;
    /*top, right, bottom, left*/
    padding:5px 10px 5px 10px;
}

table.tableIndex>tbody>tr>td{
    border-style:solid;
    border-color:#1e631e;
    border-width:2px;
    /*top, right, bottom, left*/
    /*padding:5px 10px 5px 10px;*/
}



div.divTableIndexContainer{
    padding:10px 20px 10px 20px;
}

table.tableIndex{
    
    text-align:left;
    caption-side: top;
    margin-left:auto;
    margin-right:auto;
}

table.tableIndex>caption{
    font-size:1.8em;
    margin-bottom:2px;
}

table.tableIndex>colgroup>col.colIndexCategory{
}
table.tableIndex>colgroup>col.colIndexCalculator{
}




div.divContentTopMarker{
		display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  max-width:1200px;
  margin-top:58px;
  margin-bottom:66px;
}

div.divContentBottomMarker{
		display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  max-width:1200px;
  position:relative;
  margin-top:12px;
		margin-bottom:150px;
}

a.aButtonPreviousTop{
    position: absolute;
    bottom:3px;
    left:40px;
    min-width:90px;
}
a.aButtonNextTop{
    position: absolute;
    bottom:3px;
    right:40px;
    min-width:90px;
}
a.aButtonPreviousBottom{
    position: absolute;
    top:0px;
    left:40px;
    min-width:90px;
}
a.aButtonNextBottom{
    position: absolute;
    top:0px;
    right:40px;
    min-width:90px;
}

div.divIntroduction{
    margin-bottom:60px;
}

section.sectionContent{
    display:table;
    margin-left:auto;
    margin-right:auto;
    background-color:#a6dca6;
    border-radius: 1.4em 1.4em 1.4em 1.4em;
    padding:60px 28px 60px 28px;
    max-width:100%;
    
}

header{
    
    box-sizing: border-box;
}

footer{
    box-sizing: border-box;
    width:100%;
    margin-top:40px;
    height:200px;
    background-color:#b9d7b9;
}






footer p{
    display:block;
    margin-bottom:20px;
}
div.divFooterInner{
    display:table;
    margin-left:auto;
    margin-right:auto;
    min-width:700px;
    text-align:left;
    padding:30px 52px 30px 52px;
}






/******************************************************************/
/* FORM!!! */



button{
    margin:4px;
    padding:5px;
    font-size: 1.3em;
    color:#004700;
    font-family: Tahoma, Geneva, sans-serif;
}

input[type="radio"], input[type="checkbox"]{
    vertical-align:baseline;
}
input[type="radio"] + Label, input[type="checkbox"] + Label{
    padding-left:8px;
}


select{
    padding:4px;
    width:400px;
    box-sizing: border-box;
}
option{
    padding:0px;
    box-sizing: border-box;
}



input[type="text"], input[type="email"]{
    width:400px;
    padding:4px;
    box-sizing: border-box;
}


form{
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    display:table;
    border:1px solid #005000;
    padding: 20px 60px;
}
.divTable{
    border-collapse:separate;
    /*horizontal, vertical*/
    border-spacing: 0px 5px;
    display:table;
    box-sizing: border-box;
    padding:20px;
    text-align:left;
    font-size:0.9em;
    width:100%;
}

fieldset{
    margin:0px;
    padding-top:4px;
    padding-bottom:16px;
    min-width:500px;
    display:inline-block;
    border:2px solid #005000;
}
legend{
    font-size:0.9em;
    margin-left:10px;
    margin-right:10px;
    max-width:300px;
}
legend.legendSmall{
    font-size:0.74em;
}


div.divInputRowInner{
    display:table-row;
    padding:20px;
}
div.divInputSemiRow:not(:first-child){
    margin-top:4px;
}

div.divInputRowCentered{
    display:block;
    background-color:#ff0000;
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
}
div.divInputRowFormLeft{
    display:block;
    margin-top:10px;
    margin-bottom:10px;
    text-align:left;
}
div.divInputRowFormLeft:first-child{
    margin-top:0px;
}
div.divInputRowFormRight{
    display:block;
    margin-top:10px;
    margin-bottom:10px;
    text-align:right;
}

div.divInputSemiRow{
    /*padding-left:300px;*/
    display:block;
}





.labelSpaced{
    display:table-cell;
    vertical-align:middle;
    text-align:right;
    padding-right:12px;
    /*white-space:nowrap;*/
    width:260px;
    
}
.inputSpaced{
    display:table-cell;
    vertical-align:middle;
    text-align:left;
    
}


form p, form label, form fieldset legend{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight:normal;
    font-size:1.4em;
}
select, input{
    font-size:1.4em;
}
option{
    font-size:1.0em;
}
.labelSmall{
    font-size:1.2em;
}
.labelSmall2{
    font-size:1.1em;
}



textarea{
    display: block;
    box-sizing: border-box;
    font-size: 1.3em;
    font-family: Tahoma, Geneva, sans-serif;
    color:#004700;
    width:100%;
    height:400px;
    resize: none;
}






